
@media (min-width: 768px) {
	.nav {
		&__btn {
			display: none;
		}

		&__items {
            position: static;
            flex-direction: row;
            height: 50px;
            width: 100%;
            transform: translateX(0);
		}
		&__item {
			margin: 0 1em;

			a {				
				font-size: 2rem;
			}
		}
	}
}
@media (min-width: 992px){
    .nav{
        &__items{
            justify-content: center;
        }
    }
}


