@use '../abstracts/colors';

@media (min-width: 576px){
    .header{
        &__hero{
            background-position: bottom 👉 ;
        }
        &__heading{
            font-size: 4rem;
        }
        &__heading-text{
            font-size: 2rem;
        }
    }
}

@media (min-width: 768px) {
	.nav {
		&__btn {
			display: none;
		}

		&__items {
            position: static;
            flex-direction: row;
            height: 50px;
            width: 100%;
            transform: translateX(0);
		}
		&__item {
			margin: 0 1em;

			a {				
				font-size: 2rem;
			}
		}
	}
}
@media (min-width: 992px){
    .nav{
        &__items{
            justify-content: center;
        }
    }

    .header{
        &__hero{
            height: 60vh;
            background-position-y: bottom;
            background-image: colors.$bg-shadow, url('../../img/hero_big.jpg');
        }
        &__text{
            transform: translate(-95%, -20%);
        }
        &__heading{
            font-size: 6rem;
        }
        &__heading-text{
            font-size: 2.6rem;
            width: 500px;
        }
    }
}


